* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Inconsolata', monospace;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1024px)  {
  body {
    max-width: 1200px;
  }    
}
@media (max-width: 992px) {
  body {
    max-width: 979px;
  }
}
@media (max-width: 769px)  {
  body {
    max-width: none;
  }    
}

/* -------------- Верхняя часть нашего сайта - шапка -------------- */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #D99898;
}
@media (max-width: 1200px) {
  .menu {
    height: 74px;
  }    
}
@media (max-width: 769px) {
  .menu {
    height: 54px;
  }
}
@media (max-width: 500px) {
  .menu {
    height: 45px;
  }
}

/* ------------------------- Меню бургер ----------------------- */

.btn_burger {
  background-color: #D99898;
  height: 43px;
  padding: 0;
  border: none;
  outline: none;
  order: -1;
}
@media (min-width: 750px){
  .btn_burger {
    display: none;
  }
}
.img_burger {
  width: 45px;
  height: 45px;
}
.menu_burger {
  position: absolute;
  width: 100%;
  top: 45px;
}
@media (min-width: 750px) {
  .menu_burger {
    display: none;
  }
}  
.list_burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
}
.level_burger {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #219653;
  height: 40px;
  color: white;
}
.btn_level_burger {
  background-color: #EB5757;
  height: 24px;
  width: 40px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}
.btn_level_burger:focus {
    box-shadow:
        inset 0 3px 3px rgba(0,10,20,.5),
        0 0 3px rgb(86,96,106);
}
.btn_level_burger:hover {
    cursor: pointer;
}

.results_burger {
  display: flex;
  justify-content: center;
  background-color: khaki;
  height: 40px;
  color: white;
}
.btn_results {
  background-color: khaki;
  width: 100%;
  font-size: 24px;
  border: none;
  outline: none;
}
.btn_results:active {
  background-color: rgb(218, 201, 49);
}

/* ----------------------------- МЕНЮ -------------------------- */

.level_info {
  display: flex;
  align-items: center;
}
.level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #219653;
    width: 380px;
    height: 80px;
    margin-left: 30px;
    border-radius: 10px;
}
@media (max-width: 1200px) {
  .level {
    width: 202px;
    height: 42px;
    margin-left: 16px;
  }    
}
@media (max-width: 769px) {
  .level {
    width: 180px;
    height: 32px;
    margin-left: 12px;
  }
}
@media (max-width: 500px) {
  .level {
    display: none;
  }
}


.btn_level {
    background-color: #EB5757;
    height: 60px;
    width: 100px;
    border-radius: 10px;
    font-size: 36px;
    letter-spacing: 2px;
    margin: 10px 18px;
    border: none;
    outline: none;
}
@media (max-width: 1200px) {
  .btn_level {
    height: 32px;
    width: 54px;
    font-size: 19px;
    margin: 5px 10px;
  }
}
@media (max-width: 769px) {
  .btn_level {
    height: 24px;
    width: 40px;
    font-size: 14px;
    margin: 4px 7px;
  }
}
@media (max-width: 500px) {
  .btn_level {
    font-size: 12px;
    margin: 4px 3px;
  }
}
.btn_level:focus {
    box-shadow:
        inset 0 3px 3px rgba(0,10,20,.5),
        0 0 3px rgb(86,96,106);
}
.btn_level:hover {
    cursor: pointer;
}

.info {
  padding-top: 5px;
}
.btn_info {
  background-color: #D99898;
  border: none;
  outline: none;
}
.btn_info:hover {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .img_info {
    height: 32px;
    width: 32px;
  }
}
@media (max-width: 769px) {
  .img_info {
    height: 24px;
    width: 24px;
  }
}


.btn_play {
    background-color: #3F745A;
    height: 68px;
    width: 300px;
    border-radius: 10px;
    font-size: 48px;
    letter-spacing: 2px;
    border: none;
    outline: none;
}
.btn_play:hover {
    cursor: pointer;
    animation: shake 0.2s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media (max-width: 1200px) {
  .btn_play {
    height: 36px;
    width: 160px;
    font-size: 24px;
  }
}
@media (max-width: 769px) {
  .btn_play {
    height: 27px;
    width: 120px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .btn_play {
    order: -1;
    margin-left: 12px;
  }
}


.clock {
    display: flex;
    align-items: center;
    background-color: #219653;
    height: 68px;
    width: 210px;
    border-radius: 10px;
    margin-right: 30px;
}
@media (max-width: 1200px) {
  .clock {
    height: 36px;
    width: 112px;
    margin-right: 16px;
  }
}
@media (max-width: 769px) {
  .clock {
    height: 27px;
    width: 84px;
    margin-right: 12px;
  }
}
@media (max-width: 500px) {
  .clock {
    margin-right: 12px;
  }
}


.img_time {
    margin: 0 10px;
}
@media (max-width: 1200px) {
  .img_time {
    height: 32px;
    width: 32px;
    margin: 0 6px;
  }
}
@media (max-width: 769px) {
  .img_time {
    height: 24px;
    width: 24px;
    margin: 0 2px;
  }
}


.time {
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    margin-right: 10px;
}
@media (max-width: 1200px) {
  .time {
    font-size: 19px;
  }
}
@media (max-width: 769px) {
  .time {
    font-size: 14px;
    letter-spacing: 1px;
  }
}


.body {
    display: flex;
    height: 100vh;
    background-color: #F2F2F2;
}


/* --------------------- Игровое поле ----------------- */


.hidden {
  display: none ! important;
}


.game_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 450px);
}
@media (max-width: 1024px) {
  .game_container {
    width: 100vw;
  }
}
@media (max-width: 769px) {
  .game_container {
    width: 100vw;
  }
}


.rules_of_the_game {
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 29, 121);
    width: 100%;
    height: 100%;
    padding: 32px 32px;
}
@media (max-width: 1024px) {
  .rules_of_the_game {
    font-size: 42px;
    padding: 16px 16px;
  }
}
@media (max-width: 769px) {
  .rules_of_the_game {
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  .rules_of_the_game {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .rules_of_the_game {
    font-size: 16px;
  }
}


.close {
  display: flex;
  justify-content: flex-end;
}


.btn_close {
  background-color: rgb(105, 29, 121);
  border: none;
  outline: none;
}
.btn_close:hover {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .img_close {
    height: 32px;
    width: 32px;
  }
}
@media (max-width: 414px) {
  .img_close {
    height: 24px;
    width: 24px;
  }
}


.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
}
.text_shapka {
  font-size: 48px;
  margin-top: 150px;
  margin-bottom: 200px;
}
@media (max-width: 1024px) {
  .text_shapka {
  font-size: 48px;
  margin-top: 150px;
  margin-bottom: 100px;
    }
}
@media (max-width: 769px) {
  .text_shapka {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 70px;
  }
}
@media (max-width: 414px) {
  .text_shapka {
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
@media (max-width: 375px) {
  .text_shapka {
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 375px) and (min-height: 812px) {
  .text_shapka {
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
@media (max-width: 360px) {
  .text_shapka {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


.text_body {
  font-size: 32px;
}
@media (max-width: 769px) {
  .text_body {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .text_body {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .text_body {
    font-size: 12px;
  }
}

/* -------------------------- Уровни сложности -------------------- */

.playing_area_4x3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 720px;
    padding: 16px 0 0 16px;
    perspective: 1000px;
}
@media (max-width: 1024px) {
  .playing_area_4x3 {
    width: 520px;
    padding: 16px 0 0 16px;    
  }
}
@media (max-width: 768px) {
  .playing_area_4x3 {
    width: 500px;
    padding: 16px 0 0 16px;
  }
}


.playing_area_4x4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 720px;
    padding: 16px 0 0 16px;
    perspective: 1000px;
}
@media (max-width: 1024px) {
  .playing_area_4x4 {
    width: 520px;
    padding: 16px 0 0 16px;    
  }
}
@media (max-width: 768px) {
  .playing_area_4x4 {
    width: 500px;
    padding: 16px 0 0 16px;
  }
}


.playing_area_4x5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 720px;
    padding: 16px 0 0 16px;
    perspective: 1000px;
}
@media (max-width: 1024px) {
  .playing_area_4x5 {
    width: 520px;
    padding: 16px 0 0 16px;    
  }
}
@media (max-width: 768px) {
  .playing_area_4x5 {
    width: 500px;
    padding: 16px 0 0 16px;
  }
}


.card {
    position: relative;
    background-color: #BF4949;
    margin: 0 16px 16px 0;
    height: 195px;    
    width: calc(25% - 16px);
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: scale(1);
    transition: transform .5s;
}
.card:active {
  transform: scale(0.95);
  transition: transform .2s;
}
.card.rotate {
  transform: rotateY(180deg);
}
.front_side {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  transform: rotateY(180deg);
}
@media (max-width: 1024px) {
  .card {
    height: 195px;
  }
}
@media (max-width: 768px) {
  .card {
    height: 175px;
  }
}
@media (max-width: 415px) {
  .card {
    height: 115px;
  }
}
@media (max-width: 375px) {
  .card {
    height: 100px;
  }
}
@media (max-width: 320px) {
  .card {
    height: 85px;
  }
}


/* -------------------------- Результаты ------------------------- */

.results {
    display: flex;
    flex-direction: column;
    background-color: #EFCBAA;
    width: 450px;
}
@media (max-width: 1024px) {
  .results {
    width: 370px;
  }
}
@media (max-width: 767px) {
  .results {
    display: none;
  }
  .results.active {
    display: flex;
    width: 100%;
  }
}


.clear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
@media (min-width: 415px) {
  .clear {
    justify-content: flex-end;
  }
}


.btn_close_results {
  background-color: #EFCBAA;
  margin: 10px 15px;
  border: none;
  outline: none;
}
@media (min-width: 415px) {
  .btn_close_results {
    display: none;
  }
}
.btn_close_results:hover {
  cursor: pointer;
}
.btn_clear {
    background-color: #C4C4C4;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 10px 15px;
    border: none;
    outline: none;
}
@media (max-width: 700px) {
  .btn_clear {
    height: 30px;
    width: 80px;
    font-size: 16px;
  }
}
.btn_clear:hover {
    cursor: pointer;
}
.btn_clear:active {
    background-color: rgb(143, 140, 140);
}


.list_results {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.result {
    display: flex;
    text-align: left;
    font-size: 36px;
    letter-spacing: 2px;
    height: 60px;
}
@media (max-width: 700px) {
  .result {
    height: 40px;
    font-size: 24px;
  }
}
.number_list {
    padding: 12px 0 0 50px;
}
@media (max-width: 700px) {
  .number_list {
    padding: 12px 0 0 25px;
  }
}
.total_time {
    width: 100%;
    border-bottom: 3px dotted #BF4949;
    padding: 12px 0 0 25px;
}